.env
.env.local

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

coverage/
dist/
.DS_Store
DEMO.md
livecoding.md
reset-demo.js
setup.js
SETUP.md
show-intelligence.js
twilio-api.js
helpers.js